@use '../../components/buttons';
@use '../../components/overlay';
@use '../../utilities/responsive';

.about {
    display: grid;
    background-color: var(--color-accent-900);
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
        padding: var(--section-gap) 0;
    }

    @include responsive.max(700px) {
        &__inner {
            padding: var(--section-gap-inner) 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    &__icon img {
        cursor: pointer;
    }

    &__text {
        text-align: center;
        color: var(--color-dark);
        padding: 0 0 var(--gap-xl) 0;
        
        @include overlay.default($opacity:0.05);
        
        cursor: text;
    }

    &__button {
        @include buttons.default()
    }
}