@use '../../utilities/responsive';
@use '../../components/overlay';

.works {
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-accent-900);

    &__inner {
        display: flex;
        flex-direction: column;
        grid-column: inner;
        align-items: center;
        padding: var(--section-gap) 0;
    }

    @include responsive.max(700px) {
        &__inner {
            padding: var(--section-gap-inner) 0;
        }
    }

    &__title {
        padding-bottom: var(--gap-xxl);
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-template-rows: repeat(2, minmax(120px, 1fr));
        gap: var(--gap-m);
    }

    &__gallery img {
        box-shadow: 5px 5px 8px var(--color-dark-shadow);
    }

    &__image1 {
        grid-column: 1/2;
        grid-row: 1/3;
        height: 100%;
        @include overlay.default($opacity:0.3)
    }

    &__image2 {
        grid-column: 2/4;
        grid-row: 1;
        @include overlay.default($opacity:0.3)
    }

    &__image3 {
        grid-column: 4/5;
        grid-row: 1/3;
        height: 100%;
        @include overlay.default($opacity:0.3)
    }

    &__image4 {
        grid-column: 2/3;
        grid-row: 2;
        @include overlay.default($opacity:0.3)
    }

    &__image5 {
        grid-column: 3/4;
        grid-row: 2;
        @include overlay.default($opacity:0.3)
    }

    @include responsive.max(1024px) {
        &__gallery {
            display: grid;
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            grid-template-rows: repeat(4, minmax(120px, 1fr));
            gap: var(--gap-l);
        }
    
        &__image1 {
            grid-column: 1/2;
            grid-row: 2/4;
            height: 100%;
        }
    
        &__image2 {
            grid-column: 1/3;
            grid-row: 1;
        }
    
        &__image3 {
            grid-column: 2/3;
            grid-row: 3/5;
            height: 100%;
        }
    
        &__image4 {
            grid-column: 2/3;
            grid-row: 2;
        }
    
        &__image5 {
            grid-column: 1/2;
            grid-row: 4/5;
        }
    }

    @include responsive.max(800px) {
        &__gallery {
            display: grid;
            grid-template-columns: repeat(2, minmax(150px, 1fr));
            grid-template-rows: repeat(4, minmax(100px, 1fr));
            gap: var(--gap-m);
        }
    }

    @include responsive.max(500px) {
        &__gallery {
            display: grid;
            grid-template-columns: repeat(2, minmax(110px, 1fr));
            grid-template-rows: repeat(4, minmax(80px, 1fr));
            gap: var(--gap-m);
        }
    }

    figure {
        margin: 0;
    }
}